@media (prefers-color-scheme: dark) {
  body{
    background-color: #1c1c1c;
    color: #e6e7e8;
  }
}

@media (prefers-color-scheme: light) {
  body{
    background-color: #1c1c1c;
    color: #e6e7e8;
  }
}

@media (min-width: 321px) {
body, html {
    font: 400 16px/1.5 Segoe UI,system-ui,-apple-system,sans-serif;
}}
@media (min-width: 241px) {
body, html {
    font: 400 14px/1.5 Segoe UI,system-ui,-apple-system,sans-serif;
}}

.btn{
  width: 120px;
  height: 45px;
  background-color: red;
  border-radius: 20px;
  border: 2px solid red;
  transition: background-color 90ms;
}
.btn:hover {
  background-color: rgb(247, 70, 70);
  border: 2px solid rgb(247, 70, 70);
}
.btn2{
  width: 120px;
  height: 45px;
  background-color: red;
  border-radius: 20px;
  border: 2px solid red;
  transition: background-color 90ms;
}
.btn2:hover {
  background-color: rgb(247, 70, 70);
  border: 2px solid rgb(247, 70, 70);
}